.main-card {
  padding: 0;
  width: 100%;
  border-radius: 0;

  .mat-card-header {
    text-align: center;

    .mat-card-header-text {
      .mat-card-subtitle {
        img {
          width: 40%;
        }
      }
    }

  }
}

.full-width {
  width: 100%;
}
