/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: DubaiFont;
    src: url('../src/assets/fonts/dubai_font/DubaiW23-Regular.ttf')
}

html,
body {
    height: 100%;
    margin: 0;
    .mat-typography{
        background-image: url('../src/assets/backgrounds/bg2.svg');
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: DubaiFont, Roboto, "Helvetica Neue", sans-serif; }
